.form-group.required label:after {
  content: "*";
  color: $red;
	padding-left: 2px;
}

.form-group{
	@media (max-width: 767px) {
		font-size: 1.5rem;
	}
}
.credit-block .form-control{
	@media (max-width: 767px) {
		font-size: 1.5rem;
		height: auto;
		padding: 0.5rem .75rem;
	}
}

.sm-mb-3 {
	@media (max-width: 767px) {
		margin-bottom: 1rem;
	}
}

.invalid .form-control, .valid .form-control {
  &:valid {
    border-color: green;
  }
  &:invalid {
    border-color: red;
  }
}

.form-group-img {
  margin-top: -32px;
  margin-right: 7px;
  font-size: 27px !important;
  float: right;
}

.cc-messages-notices {
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  &.error {
    border: 2px solid $red;
    background: $light-red;
  }
	&.success {
		border: 2px solid green;
		background: $light-green;
	}
}

.coupon-messages-notices {
	width: 75%;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  &.error {
    border: 2px solid $red;
    background: $light-red;
  }
  &.success {
    border: 2px solid green;
    background: $light-green;
  }
}

.thankyou-page {
	i {
		color: $green;
	}
}

